form {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  margin-right: 5px;
}
input {
  width: 30px;
  margin-top: 5px;
}
button {
  width: fit-content;
  margin-top: 5px;
}

